@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: var(--lorem-container);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}

.div_logo {
    display: flex;
    align-items: center;
    gap: 3px;
} 

.div_logo img:nth-child(1){
  
    width: 128px;
    height: 30px;
    background: var(--lorem-item-box);
}

.div_logo img:nth-child(2){
    width: 16px;
    height: 16px;
}

.div_options {
    width: 120px;
    height: 24px;
    background: var(--lorem-item);
    display: flex;
    gap: 24px;
}

.div_options img{
    width: 24px;
    height: 24px;
    
    background: var(--lorem-item-box);
}

.nav_storyTray {
    background: var(--lorem-container);
    border-bottom: 2px solid var(--color-4);
    width: 100%;
    height: 105.75px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: scroll;
    gap: 12px;
}

.nav_storyTray > .div_storyUser {
    flex: 1;
    background: var(--lorem-item);
    min-width: 72px;
    height: 97.75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div_storyUser-container{
    width: 69.63px;
    height: 69.63px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    border: 3.5px solid transparent;
    background: 
    linear-gradient(var(--lorem-item-box),var(--lorem-item-box)) padding-box,  
    var(--color-gradient) border-box;
    background-clip: padding-box, border-box;
}

.div_storyUser-container.states {
    background: none;
    background-clip: none;
    border-radius: 0px;
}

.div_storyUser-container::before{
    content: " ";
    width: 60.63px;
    height: 60.63px;
    position: absolute;
    border: 2.5px solid #fff;
    border-radius: 100%;
}

.states.div_storyUser-container::before{
    border: none;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
    background-image: url(../storage/img/button-plus.svg);
}

.div_storyUser-container.states img{
    border-radius: 100%;
}

.div_storyUser-container img{
    width: 100%;
    height: 100%;
}

.div_storyUser span{
    background: var(--lorem-item-box);
    width: 100%;
    height: 25.75px;
    text-align: center;
    font-weight: 900;
    padding: 6px 6.18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11.5px;
    font-family: "sf-ui-display-light";
    color: var(--color-1);

}

.div_storyUser-container.states +span{
    color: var(--color-3);
    font-weight: normal

}

.section_post{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 390px 212px;
    grid-template-areas: "avatarInfo postOptions"
                         "post post"
                         "postInfo postInfo";
}

.div_avatarInfo{
    grid-area: avatarInfo;
    background: var(--lorem-item);
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 13px;
}

.div_avatarInfo-container{
    width: 37.32px;
    height: 37.32px;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
    border: 2px solid transparent;
    background: 
    linear-gradient(var(--lorem-item-box),var(--lorem-item-box)) padding-box,   
    var(--color-gradient) border-box;
    background-clip: padding-box, border-box;
}

.div_avatarInfo-container::before{
    content: " ";
    width: 31.32px;
    height: 31.32px;
    position: absolute;
    border: 1.5px solid #fff;
    border-radius: 100%;
}

.div_avatarInfo-container img{
    width: 100%;
    height: 100%;
}

.div_avatarInfo-perfil h4{
    color: var(--color-1);
    font-size: 12px;
    font-family: "sf-ui-display-bold";
    background: var(--lorem-item-box);
}

.div_avatarInfo-perfil span{
    color: var(--color-1);
    font-size: 11px;
    font-family: "sf-ui-display-light";
    background: var(--lorem-item-box);

}

.div_post{
    grid-area: post;
    background: var(--lorem-container);
    position: relative;
}

.div_post::before {
    content: url(../storage/img/tags.svg);
    position: absolute;
    bottom: 10px;
    left: 16px;
    width: 24px;
    height: 24px;
    background: var(--lorem-container);
}

.div_post img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    background: var(--lorem-item);
}

.div_postOptions{
    grid-area: postOptions;
    background: var(--lorem-container);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 13px;
}

.div_postOptions a {
    width: 24px;
    height: 24px;

    background: var(--lorem-item);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_postOptions a img::after{
    background: var(--lorem-item-box);
    content: "24 x 24";
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_postInfo{
    grid-area: postInfo;
    background: var(--lorem-container);
    padding: 0 13px;
}

.div_postInfo span{
    display: block;
    padding-top: 10px;
    background: var(--lorem-item);
    font-family: "sf-ui-display-bold";
}

.div_postInfo p+span{
    color: var(--color-3);
    font-size: 14px;
    font-family: "sf-ui-display-light";
}

.div_postInfo p{
    padding-top: 10px;
    background: var(--lorem-item);
    font-family: "sf-ui-display-light";
    font-weight: 900;
    font-size: 14px;
}
 .div_postInfo p strong{
    font-family: "sf-ui-display-bold";
} 

.div_postInfo form{
    padding-top: 10px;
    background: var(--lorem-item);
}

.div_postInfo form textarea{
    resize: none;
    height: 38px;
    width: 100%;
}

.div_postInfo-icons {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_leftIcons {
    background: var(--lorem-item);
    display: flex;
    gap: 12px
}

.div_leftIcons a img{
    width: 24px;
    height: 24px;
}

.div_rigthIcons {
    background: var(--lorem-item);
}

.div_rigthIcons a img{
    width: 24px;
    height: 24px;
}

.footer_navigationBar{
    border-top: 2px solid var(--color-4);

    width: 100%;
    height: 56px;
    background: var(--color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    position: sticky;
    bottom: 0;
    padding: 0 15px;
}

 .footer_navigationBar a{
} 

.footer_navigationBar a:last-child img{
    border-radius: 100%;
} 

.footer_navigationBar a img{
    width: 24px;
    height: 24px;
    position: relative; 
}

.footer_navigationBar a img::after{
    content: "24 x 24";
    font-family: sans-serif;
    background: var(--lorem-item);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
